[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
Pillow = "*"
attrs = "*"
Automat = "*"
click = "*"
colorama = "*"
constantly = "*"
gcloud = "*"
googleapis-common-protos = "*"
httplib2 = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
itsdangerous = "*"
Jinja2 = "*"
jws = "*"
MarkupSafe = "*"
oauth2client = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycryptodome = "*"
PyHamcrest = "*"
pyparsing = "*"
python-jwt = "*"
requests = "*"
requests-toolbelt = "*"
rsa = "*"
six = "*"
Werkzeug = "*"
zope.interface = "*"

[dev-packages]

[requires]
python_version = "3.8"
