/*Here we can add some css styles for our web pages*/

#fileFragment {
  display: none;
}

.fileName {
  text-decoration: none;
}

.avatar {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
}

.colorPickerDiv {
  width: 50px;
  height: 50px;
  border: 1px solid #000000;
  margin: 2px;
}

.colorPickerTable {
  margin: 0 auto;
}

#textColor, #bgColor {
  display: none;
}

/* #index-guest {
  background-image: url('../images/index-guest-2.png');
  background-attachment: scroll;
  background-size: 100%;
} */
#index-guest {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#app-name {
  text-align: center;
  margin-top: 100px;
  font-family: Montserrat Alternates Black;
  font-size: 60px;
  color: white;
}

#auth-rect {
  width: 35%;
  height: 360px;
  margin: 0 auto;
  margin-top: 50px;
  background: #FFFFFF;
  border-radius: 15px;
}

#reg-rect {
  width: 35%;
  height: 440px;
  margin: 0 auto;
  margin-top: 50px;
  background: #FFFFFF;
  border-radius: 15px;
}

.auth-line {
  width: 100%;
  height: 3px;

  background-color: rgba(113, 187, 255, 0.2);
}

.selected-auth-label {
  font-family: Montserrat Alternates Regular;
}

.non-selected-auth-label {
  font-family: Montserrat Alternates Thin;
}

.auth-label {
  font-size: 24px;
  text-align: center;
  color: black;
  margin: 15px;
}

.auth-input {
  background: rgba(0, 0, 0, 0.05);
  border: 0px hidden rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  margin-top: 20px;
  padding-left: 15px;
  width: 380px;
  height: 60px;
  font-family: Montserrat Alternates Regular;
  font-size: 24px;
  color: black;
}

.button-next {
  width: 100px;
  height: 50px;
  margin-top: 30px;
  background: #71BBFF;
  border: 0px solid black;
  border-radius: 15px;
  color: white;
  font-family: Montserrat Alternates Bold;
  font-size: 20px;
}

.auth-label-td:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.visibility-gone {
  display: none;
}

header ul {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

header li {
  display: flex;
}

header ul a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-family: Montserrat Alternates Light;
}

header span {
  margin-top: 4px;
}

header ul a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.header-main-circle {
  position: absolute;
  left: 0px;
  top: 0px;
}

header li img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.username {
  position: absolute;
  top: 50px;
  left: 200px;
  font-family: Montserrat Alternates Bold;
  color: white;
  font-size: 28px;
}

.main-buttons {
  position: absolute;
  top: 100px;
  left: 200px;
  display: flex;
}

.main-buttons img {
  margin-right: 10px;
}

.fileFragmentClass {
  background: #FFFFFF;
  border: 5px solid;
  box-sizing: border-box;
  border-radius: 34px;
  padding: 30px;
  margin-bottom: 20px;
  color: black;
  font-family: Montserrat Alternates Light;
  font-size: 28px;
}

#filesContainer {
  margin: 300px 50px 10px 50px;
}

.fileStar {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.fileNameDiv {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.start-speed-circle {
  position: absolute;
  top: 100px;
  right: 80px;
  width: 500px;
  height: 500px;
}

.color-circle {
  position: absolute;
  left: 480px;
  top: 80px;
  width: 400px;
  height: 400px;
}

.size-circle {
  position: absolute;
  left: 180px;
  top:300px;
  width: 300px;
  height: 300px;
}

.about-circle {
  position: absolute;
  top: 450px;
  right: 560px;
  width: 200px;
  height: 200px;
}

#textColorDiv {
  position: absolute;
  left: 640px;
  top: 295px;
}

#bgColorDiv {
  position: absolute;
  left: 785px;
  top: 295px;
}

#speed {
  position: absolute;
  top: 390px;
  right: 120px;
  width: 400px;
  height: 5px;
}

.size-text {
  position: absolute;
  left: 295px;
  top:495px;
  font-family: Montserrat Alternates Medium;
  font-size: 48px;
  color: white;
}

#textSize {
  display: none;
}

.size-right-arrow {
  position: absolute;
  left: 375px;
  top: 500px;
}

.size-left-arrow {
  position: absolute;
  left: 260px;
  top: 500px;
}

.settings-save-button {
  position: absolute;
  right: 100px;
  top: 100px;
}

.profile-content {
  margin: 0 auto;
  width: 50%;
  margin-top: 150px;
  border-collapse: separate;
  border-spacing: 0px 30px;
}

.profile-labels {
  font-family: Montserrat Alternates Medium;
  font-size: 36px;
  color: black;
}

.profile-input {
  background: rgba(0, 0, 0, 0.05);
  border: 0px hidden rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  width: 400px;
  height: 80px;
  padding-left: 20px;
  font-family: Montserrat Alternates Medium;
  font-size: 36px;
  color: black;
}

.example-2 .btn-tertiary{color:#555;padding:0;line-height:40px;width:300px;margin:auto;display:block;border:2px solid #555}
.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{color:#888;border-color:#888}
.example-2 .input-file{width:.1px;height:.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1}
.example-2 .input-file + .js-labelFile{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:0 10px;cursor:pointer}
.example-2 .input-file + .js-labelFile .icon:before{content:"\f093"}
.example-2 .input-file + .js-labelFile.has-file .icon:before{content:"\f00c";color:#5AAC7B}

.edit-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 250px;
}

#title {
  margin-bottom: 30px;
}

.dev-info {
  font-family: Montserrat Alternates Medium;
  font-size: 24px;
  padding: 20px;
}

.dev-info a {
  color: black;
  text-decoration: none;
}

.dev-info a:hover {
  color: rgb(56, 143, 224);
}