<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/popupanimations.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/fonts.css')}}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"> -->
</head>
<body>
  <header>
    <img class="header-main-circle" src="{{url_for('static', filename='images/ellipse-9.png')}}" ondrag="return false" ondragdrop="return false" ondragstart="return false"></img>
    <img src="{% if downloaded %}{{url_for('static', filename='images/avatar.jpeg')}}{% else %}{{url_for('static', filename='images/avatar-guest.jpeg')}}{% endif %}" class="avatar"></img>
    <div class="username">{{name}}</div>
    <div class="main-buttons">
      <a href="/create">
        <img src="{{url_for('static', filename='images/create-button.png')}}">
      </a>
      <a href="/sign-out">
        <img src="{{url_for('static', filename='images/logout-button.png')}}">
      </a>
    </div>
    <ul>
      <a href="/settings"><li><img src="{{url_for('static', filename='images/settings-button.png')}}" class="settings-button-img"><span>Настройки</span></li></a>
      <a href="/profile"><li><img src="{{url_for('static', filename='images/account-button.png')}}" class="account-button-img"><span>Аккаунт</span></li></a>
      <a href="/"><li><img src="{{url_for('static', filename='images/home-button.png')}}" class="home-button-img"><span>Главная</span></li></a>
    </ul>
  </header>
{% block body %}{% endblock %}
</body>
</html>