{% extends 'base.html' %}

{% block title %}Редактирование{% endblock %}

{% block body %}
<div class="edit-container">
      <form method='POST'>
        {% if notitle %}
          <div class="alert-danger">Необходимо указать название файла!</div>
        {% endif %}
        <input class="profile-input" id="title" type="text" value="{{title}}" name="title"></input>
        <textarea id="editor" name="editor">{{content}}</textarea>
        <!-- <button type="submit" class="w-100 btn btn-lg btn-primary">Сохранить</button> -->
      </form>
      <button class="button-next" onclick="saveText()">Сохранить</button>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.tiny.cloud/1/r55dmb7tylbap7uwxto0jlsvcn6z3uy29kieq6ujtxejkzyi/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: 'textarea#editor',
    menubar: false
  });
</script>
<script>
function saveText() {
  var contentString = tinyMCE.get('editor').getBody().innerHTML;
  // console.log(contentString);
  let blob = new Blob([contentString], {type: 'text/html'});
  console.log(blob);
  var title = document.getElementById('title').value;
  storageRef.child(user_id + '/files/' + title + '.html').put(blob).then((snapshot) => {
  console.log('Uploaded a blob or file!');
  console.log(title);
  console.log(contentString);
  alert('Сохранено :)');
});
}
</script>
{% endblock %}