{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}
{% block body %}
<div id="filesContainer"></div>

<div id="fileFragment">
  <a href="#" class="fileName">
    <div class="fileFragmentClass">
    <table style="width: 100%; height: 100%;"><tr>
      <td style="display: flex;">
        <img class="fileStar" src="#">
        <div class="fileNameDiv"></div>
      </td>
      <td>
        <div class="fileDate" align="right"></div>
      </td>
    </tr></table></div>
  </a>
</div>

<!-- Scripts -->
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-storage.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyA3ZYaV-3uJmusX3-nfV71CT5pbjyLqbtY",
    authDomain: "teleprompterandroidjava.firebaseapp.com",
    databaseURL: "https://teleprompterandroidjava-default-rtdb.europe-west1.firebasedatabase.app",
    projectId: "teleprompterandroidjava",
    storageBucket: "teleprompterandroidjava.appspot.com",
    messagingSenderId: "300471537841",
    appId: "1:300471537841:web:de99d6f9e4316faeddd290",
    measurementId: "G-Y3RVRFQ01W"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
<script type="text/javascript">
  function getRandomInt(min, max)
  {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  borderColors = ['#65D663', '#FFCB44', '#FF6666', '#71BBFF']

  var filesContainer = document.getElementById("filesContainer");

  var defaultStorage = firebase.storage();
  defaultStorage.ref().child('{{user_id}}/files').listAll()
  .then((res) => {
    let itemsList = [];
    res.items.forEach((itemRef) => {
      var item = new Map();
      itemRef.getMetadata()
        .then((metadata) => {
          console.log(metadata);
          fileName = itemRef.name;
          item.set("name", fileName);
          item.set("path", metadata.fullPath);
          item.set("date", metadata.timeCreated);
          console.log(metadata.timeCreated);
          item.set("customMetadata", metadata.customMetadata);
          itemsList.push(item);

          var fileFragment = document.getElementById("fileFragment").cloneNode(true);
          fileFragment.id = fileName;
          var link = fileFragment.getElementsByClassName("fileName")[0];
          var date = fileFragment.getElementsByClassName("fileDate")[0];
          var nameDiv = fileFragment.getElementsByClassName("fileNameDiv")[0];
          var fileStar = fileFragment.getElementsByClassName("fileStar")[0];
          var fileStarValue = false;
          try {
            if (metadata.customMetadata["FileStar"] == "false")
              fileStarValue = false;
            else if (metadata.customMetadata["FileStar"] == "true")
              fileStarValue = true;
          } catch (err) {fileStarValue = false;}
          if (fileStarValue) {
            fileStar.src = "{{url_for('static', filename='images/filled-star.png')}}";
          } else {
            fileStar.src = "{{url_for('static', filename='images/unfilled-star.png')}}";
          }
          console.log(fileStarValue);
          nameDiv.innerHTML = fileName;
          link.href = "/edit/{{user_id}}/" + fileName;
          date.innerHTML = new Date(metadata.timeCreated).toLocaleDateString();
          fileFragment.getElementsByClassName("fileFragmentClass")[0].style.borderColor = borderColors[getRandomInt(0, 3)];
          console.log(fileFragment);
          filesContainer.appendChild(fileFragment);
        })
        .catch((error) => {
          console.log("Error in getting metadata");
        });
    });
  }).catch((error) => {
      alert('Error');
  });
</script>
<script type="text/javascript">
  document.getElementsByClassName("home-button-img")[0].src = "{{url_for('static', filename='images/home-button-active.png')}}"
</script>
{% endblock %}