{% extends 'base.html' %} {% block title %}Настройки{% endblock %} {% block body %}
<form method="post">
<!-- Speed: -->
<img class="start-speed-circle" src="{{url_for('static', filename='images/start-speed-circle.png')}}">
<input type="range" min="1" max="100" class="form-control" id="speed" name="speed" value="{{speed}}">
<!-- Size: -->
<input type="number" class="form-control" id="textSize" name="textSize" value="{{textSize}}">
<!-- Text color: -->
<input type="range" min="1" max="24" class="form-control" id="textColor" name="textColor" value="{{textColor}}">
<div id="textColorDiv" class="colorPickerDiv" data-modal="modal_1" onclick="openTxt()"></div>
<!-- Background color: -->
<input type="range" min="1" max="24" value="{{bgColor}}" class="form-control" id="bgColor" name="bgColor">
<div id="bgColorDiv" class="colorPickerDiv" data-modal="modal_1" onclick="openBg()"></div>
<!-- Submit button: -->
<button type="submit">Сохранить</button>
</form>

<!-- Popup blocks -->
<div class="overlay" data-close=""></div>

<div id="modal_1" class="dlg-modal dlg-modal-fade">
  <span class="closer" data-close="" id="closer_color_picker"></span>
  <h3>Выберите цвет</h3>
  <table class="colorPickerTable">
    <tr>
      <td>
      <div id="colorPickerDivTd0" onclick="changeTextColor(0)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd1" onclick="changeTextColor(1)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd2" onclick="changeTextColor(2)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd3" onclick="changeTextColor(3)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd4" onclick="changeTextColor(4)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd5" onclick="changeTextColor(5)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd6" onclick="changeTextColor(6)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd7" onclick="changeTextColor(7)" class="colorPickerDiv"></div>
      </td>
    </tr>
    <tr>
      <td>
      <div id="colorPickerDivTd8" onclick="changeTextColor(8)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd9" onclick="changeTextColor(9)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd10" onclick="changeTextColor(10)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd11" onclick="changeTextColor(11)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd12" onclick="changeTextColor(12)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd13" onclick="changeTextColor(13)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd14" onclick="changeTextColor(14)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd15" onclick="changeTextColor(15)" class="colorPickerDiv"></div>
      </td>
    </tr>
    <tr>
      <td>
      <div id="colorPickerDivTd16" onclick="changeTextColor(16)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd17" onclick="changeTextColor(17)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd18" onclick="changeTextColor(18)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd19" onclick="changeTextColor(19)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd20" onclick="changeTextColor(20)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd21" onclick="changeTextColor(21)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd22" onclick="changeTextColor(22)" class="colorPickerDiv"></div>
      </td>
      <td>
      <div id="colorPickerDivTd23" onclick="changeTextColor(23)" class="colorPickerDiv"></div>
      </td>
    </tr>
</div>

<!-- Scripts -->
<script type="text/javascript">
textColorDiv = document.getElementById("textColorDiv");
bgColorDiv = document.getElementById("bgColorDiv");
textColor = document.getElementById("textColor");
bgColor = document.getElementById("bgColor");
console.log(textColorDiv);
console.log(bgColorDiv);

let colorDivForChange;
let colorForValue;

function openBg() {
  open(1);
}

function openTxt() {
  open(0);
}

function open(i) {
  if (i == 0) {
    colorForValue = document.getElementById("textColor");
    colorDivForChange = document.getElementById("textColorDiv");
  } else {
    colorForValue = document.getElementById("bgColor");
    colorDivForChange = document.getElementById("bgColorDiv");
  }
  console.log(colorForValue);
  console.log(colorDivForChange);
}

colors = [
  "#000000", "#FFFFFF", "#9C27B0",
  "#673AB7", "#3F51B5", "#2196F3",
  "#03A9F4", "#00BCD4", "#009688",
  "#4CAF50", "#8BC34A", "#CDDC39",
  "#FFEB3B", "#FFC107", "#FF9800",
  "#FF5722", "#F44336", "#E91E63",
  "#66380F", "#BB671C", "#000036",
  "#F0C6A1", "#D8BDB0", "#D0D3B5"
]

// var changeTextColor = function() {
//   textColorDiv.style.background = colors[textColor.value];
// }

function changeTextColor(colorId) {
  colorDivForChange.style.background = colors[colorId];
  colorForValue.value = colorId;
}

for (let i = 0; i < 24; i++) {
  let elem = document.getElementById("colorPickerDivTd"+i);
  elem.style.background = colors[i];
  elem.dataset.close="";
}

textColorDiv.style.background = colors[{{textColor}}]
bgColorDiv.style.background = colors[{{bgColor}}]

</script>
<script type="text/javascript">var typeAnimate = 'fade';</script>
<script>
;(function() {
	'use strict';
 
})();

// коллекция всех элементов на странице, которые могут открывать всплывающие окна
// их отличительной особенность является наличие атрибута '[data-modal]'
const mOpen = document.querySelectorAll('[data-modal]');
// если нет элементов управления всплывающими окнами, прекращаем работу скрипта
if (mOpen.length != 0) {
 
	  // подложка под всплывающее окно
const overlay = document.querySelector('.overlay'),
	  // коллекция всплывающих окон
	  modals = document.querySelectorAll('.dlg-modal'),
	  // коллекция всех элементов на странице, которые могут
	  // закрывать всплывающие окна
	  // их отличительной особенность является наличие атрибута '[data-close]'
	  mClose = document.querySelectorAll('[data-close]');
// флаг всплывающего окна: false - окно закрыто, true - открыто
let	mStatus = false;

for (let el of mOpen) {
	el.addEventListener('click', function(e) {
		// используюя атрибут [data-modal], определяем ID всплывающего окна,
		// которое требуется открыть
		// по значению ID получаем ссылку на элемент с таким идентификатором
		let modalId = el.dataset.modal,
			modal = document.getElementById(modalId);
		// вызываем функцию открытия всплывающего окна, аргументом
		// является объект всплывающего окна
		modalShow(modal);
	});
}

function modalShow(modal) {
	// показываем подложку всплывающего окна
	overlay.classList.remove('fadeOut');
	overlay.classList.add('fadeIn');
 
	// определяем тип анимации появления всплывающего окна
	// убираем и добавляем классы, соответствующие типу анимации
	if (typeAnimate === 'fade') {
		modal.classList.remove('fadeOut');
		modal.classList.add('fadeIn');
	} else if (typeAnimate === 'slide') {
		modal.classList.remove('slideOutUp');
		modal.classList.add('slideInDown');
	}
	// выставляем флаг, обозначающий, что всплывающее окно открыто
	mStatus = true;
}

for (let el of mClose) {
	el.addEventListener('click', modalClose);
}

document.addEventListener('keydown', modalClose);

function modalClose(event) {
	if (mStatus && ( event.type != 'keydown' || event.keyCode === 27 ) ) {
		// обходим по очереди каждый элемент коллекции modals (каждое всплывающее окно)
		// и в зависимости от типа анимации, используемой на данной странице,
		// удаляем класс анимации открытия окна и добавляем класс анимации закрытия
		for (let modal of modals) {
			if (typeAnimate == 'fade') {
				modal.classList.remove('fadeIn');
				modal.classList.add('fadeOut');
			} else if (typeAnimate == 'slide') {
				modal.classList.remove('slideInDown');
				modal.classList.add('slideOutUp');
			}
		}
 
		// закрываем overlay
		overlay.classList.remove('fadeIn');
		overlay.classList.add('fadeOut');
		// сбрасываем флаг, устанавливая его значение в 'false'
		// это значение указывает нам, что на странице нет открытых
		// всплывающих окон
		mStatus = false;
	}
}
}
</script>
<script type="text/javascript">
  document.getElementsByClassName("settings-button-img")[0].src = "{{url_for('static', filename='images/settings-button-active.png')}}"
</script>
{% endblock %}